  
h1 {
    text-align: center;
    color: white;
  }

h2{
  color: white;
}

p {
  color: white;
} 

a, li {
  color: white;
}
  
ul.nav {
      list-style: none;
      text-align: center;
  }
  
li.nav {
      display: inline-block;
      margin-right: 10px;
     
    }

body {
      background-color:  #003B6D !important;
  }

.logo{
  width: 10%;
  height: 120px;
  padding-right: 1%;
  padding-left: 40%;
}

.header{

  display: flex;
  flex-direction: row;
}
  
