  
h1 {
    text-align: center;
    color: #BDBDBD;
    font-size: xx-large;
  }

h2{
  color: #BDBDBD;
  font-size: xx-large;
}

p {
  color: #BDBDBD;
  font-size: xx-large;
} 

a, label {
  color: #BDBDBD;
}

li{
  color: #BDBDBD;
  font-size: xx-large;
}
  
ul.nav {
      list-style: none;
      text-align: center;
  }
  
li.nav {
      display: inline-block;
      margin-right: 10px;
     
    }

body {
      background-color:  #003B6D !important;
  }

.logo{
  width: 10%;
  height: 120px;
  padding-right: 1%;
  padding-left: 33%;
}

.header{

  display: flex;
  flex-direction: row;
}
  
.search{
  padding-left: 80%;
}

.mainpagepics{
  display: flex;
  height: 200px;
}

footer{
  display: flex;
}

form{
  font-size: xx-large;
}

mark {
  background-color: #BDBDBD;
}